# Install the MySQL Connector/Python which enables Python programs to access MySQL databases.

# Using pip command,  you can install MySQL Connector python on any operating system platform -Windows/macOS/Linux/Unix/Ubuntu
https://pynative.com/install-mysql-connector-python/#:~:text=Pip%20Command%20to%20install%20MySQL%20Connector%20python&text=MySQL%20Connector%20Python%20is%20available,Linux%2C%20and%20Unix%20and%20Ubuntu.

In [10]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\envs\psosmsenv\lib\site-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\envs\psosmsenv\lib\site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\envs\psosmsenv\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\envs\psosmsenv\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (47.3.0.post20200616)

In [57]:
# Importing MySQL Connector

In [12]:
import mysql.connector

# You can search for your mysql-connector-python

In [13]:
!pip search mysql-connector | grep --color mysql-connector-python

mysql-connector-python (8.0.20)               - MySQL driver written in Python
mysql-connector-python-dd (2.0.2)             - MySQL driver written in Python
mysql-connector-python-rf (2.2.2)             - MySQL driver written in Python

# Let's connect to Database
Caution: Replace your string values in place of hostname,username and your_password

In [30]:
import mysql.connector

mydb = mysql.connector.connect(
  host='127.0.0.1',
  user='radhika',
  passwd='MMMMMMMMMM',auth_plugin='mysql_native_password')

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000237E3D8D860>

In [34]:
import mysql;
myinstance=mysql.connector.connect(host='127.0.0.1',user='radhika',passwd='Might+*1',database='classicmodels')
print(myinstance)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000237E3D8D908>

In [35]:
#create object of this now
#cursor kind of object help in exceuting some queries

mycursor=myinstance.cursor()
print(mycursor)

CMySQLCursor: (Nothing executed yet)

In [36]:
mycursor = mydb.cursor()
query="SHOW DATABASES"
mycursor.execute(query)

In [38]:
for x in mycursor:
  print(x)

('acm',)
('classicmodels',)
('information_schema',)
('my',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Access SQL database using pandas

In [50]:
import pandas as pd
df = pd.read_sql(query, mydb)

print(df.head(3))

print(type(df))

print(df.tail(3))

             Database
0                 acm
1       classicmodels
2  information_schema
<class 'pandas.core.frame.DataFrame'>
  Database
6   sakila
7      sys
8    world

ProgrammingError: 1046 (3D000): No database selected